{% extends 'base.html' %}

{% block title %} Transactions {% endblock  %}

{% block content %} 
{% load static %}
    <div class="container-fluid mt-3">
        <h1> Transactions Details </h1>
        
        <table class="table">
            <tr>
                <th> Transaction No. </th>
                <th> Book </th>
                <th> Member </th>
                <th> Borrowed Date </th>
                <th> Due Date </th>
                <th> Fees </th>
            </tr>
            {% for t in transactions %}
                <tr>
                    <td> {{t.name}} </td>
                    <td> {{t.book_id.title}} </td>
                    <td> {{t.member_id.name}} </td>
                    <td> {{t.borrowed_date}} </td>
                    <td> {{t.due_date}} </td>
                    <td> {{t.fees}} </td>
                </tr>
            {% endfor %}
        <table>
       
    </div>
{% endblock %}